# =========================================
# Visual Studio
# =========================================
.vs/
*.VC.db
*.VC.opendb
*.vcxproj.user

# =========================================
# Build Files
# =========================================
Debug/
Release/
x64/
x86/

# CMake
out/
build/

# =========================================
# Intermediate Files
# =========================================
*.pch
*.pdb
*.ilk
*.idb
*.log
*.ipch
*.tlog

# Visual Studio Generated
*.lastbuildstate

# =========================================
# Ignore EXE only in build folders
# =========================================
Debug/*.exe
Release/*.exe
x64/*.exe

# =========================================
# Ignore DLL only in build folders
# =========================================
Debug/*.dll
Release/*.dll
x64/*.dll
